# GWEB 문학적 프로그램: .w 파일만이 원본이고 나머지는 모두 생성물이다.
#
# 다만 라이브러리 API의 .go 넷(common, bdd, zdd, reorder)은 예외로 저장소에
# 넣는다. 이 저장소는 `go get`으로 남의 프로그램에 딸려 들어가는데, 그쪽에
# GWEB을 깔라고 할 수는 없기 때문이다. 시험 파일과 조판 결과는 넣지 않는다.
/common_test.go
/common.tex
/common.pdf
/common.idx
/common.scn
/common.log
/common.toc
/bdd_test.go
/bdd.tex
/bdd.pdf
/bdd.idx
/bdd.scn
/bdd.log
/bdd.toc
/zdd_test.go
/zdd.tex
/zdd.pdf
/zdd.idx
/zdd.scn
/zdd.log
/zdd.toc
/reorder_test.go
/reorder.tex
/reorder.pdf
/reorder.idx
/reorder.scn
/reorder.log
/reorder.toc

# examples 아래 넷도 모두 문학적 프로그램이다: .w만 원본이고 .go는 생성물이다.
# 라이브러리와 달리 이것들은 저장소에 넣지 않는다 --- 예제를 돌려 보려는 이는
# 어차피 저장소를 받아 `make`를 돌릴 사람이기 때문이다.
/examples/queens/queens.go
/examples/queens/queens.tex
/examples/queens/queens.pdf
/examples/queens/queens.idx
/examples/queens/queens.scn
/examples/queens/queens.log
/examples/queens/queens.toc
/examples/queens/queens

/examples/indep/indep.go
/examples/indep/indep.tex
/examples/indep/indep.pdf
/examples/indep/indep.idx
/examples/indep/indep.scn
/examples/indep/indep.log
/examples/indep/indep.toc
/examples/indep/indep

/examples/bddl/bddl.go
/examples/bddl/bddl.tex
/examples/bddl/bddl.pdf
/examples/bddl/bddl.idx
/examples/bddl/bddl.scn
/examples/bddl/bddl.log
/examples/bddl/bddl.toc
/examples/bddl/bddl

/examples/simpath/simpath.go
/examples/simpath/simpath.tex
/examples/simpath/simpath.pdf
/examples/simpath/simpath.idx
/examples/simpath/simpath.scn
/examples/simpath/simpath.log
/examples/simpath/simpath.toc
/examples/simpath/simpath

/examples/solitaire/solitaire.go
/examples/solitaire/solitaire.tex
/examples/solitaire/solitaire.pdf
/examples/solitaire/solitaire.idx
/examples/solitaire/solitaire.scn
/examples/solitaire/solitaire.log
/examples/solitaire/solitaire.toc
/examples/solitaire/solitaire

/examples/order/order.go
/examples/order/order.tex
/examples/order/order.pdf
/examples/order/order.idx
/examples/order/order.scn
/examples/order/order.log
/examples/order/order.toc
/examples/order/order

/examples/circuit/circuit.go
/examples/circuit/circuit.tex
/examples/circuit/circuit.pdf
/examples/circuit/circuit.idx
/examples/circuit/circuit.scn
/examples/circuit/circuit.log
/examples/circuit/circuit.toc
/examples/circuit/circuit

/examples/factor/factor.go
/examples/factor/factor.tex
/examples/factor/factor.pdf
/examples/factor/factor.idx
/examples/factor/factor.scn
/examples/factor/factor.log
/examples/factor/factor.toc
/examples/factor/factor

/examples/pentomino/pentomino.go
/examples/pentomino/pentomino.tex
/examples/pentomino/pentomino.pdf
/examples/pentomino/pentomino.idx
/examples/pentomino/pentomino.scn
/examples/pentomino/pentomino.log
/examples/pentomino/pentomino.toc
/examples/pentomino/pentomino
